.u-container {
	margin: 0 auto;
	max-width: 100%;

	padding-left: $gutter-sm;
	padding-right: $gutter-sm;

	@include at($screen-sm) {
		padding-left: $gutter;
		padding-right: $gutter;
	}

	@include at($screen-md) {
		width: $screen-md;
	}

	@include at($screen-lg) {
		width: $screen-lg;
	}

	@include at($screen-xl) {
		width: $screen-xl;
	}
}

.u-center-h {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.u-spacer-t {
	margin-top: rem(40px);
}
