// Primitive colors
// ------------------------------------------------------------------------- /

$white: #fff;
$mercury: #e6e6e6;
$mine-shaft: #262626;

// Contextual colors
// ---
// These are the colors that you're supposed to use.
// ------------------------------------------------------------------------- /
$color-base: $mine-shaft;

$border-color: $mercury;
