// color names
$alabaster: #FAFAFA;
$mercury: #E6E6E6;
$shark: #262626;

$white: #fff;
$black: #000;

$text-color-primary: $shark;
$icon-color-primary: $shark;
$border-color-primary: $mercury;
$background-color-primary: $alabaster;
