// TODO
// Add the footer here
// - It has a vertical padding of 40px
// - All text in the footer is 12px small, weight 600 & uppercased,

// TODO
// The footer also has an inner wrapper that acts as a flex-container for it's children
// - All content inside is centered horizontally on mobile
// - On large screens & up, the content is spaced evenly across the footer

// TODO
// The footer has a list of links.
// - The default list-styling should be removed
// - All items in the list should be centered on mobile (and wrap where needed)
// - On large screens and up, the list displays on a single line
// - list-items have a horizontal margin of 16px and a vertical margin of 8px

// TODO
// The footer has a copyright-part
// - color = $text-color-secondary
// ON SMALL SCREENS
// - The copyright is full-width and the text inside it is centered
// ON > LARGE SCREENS
// - The copyright fits in with the rest of the links in the footer
.m-footer {
	padding: rem(40px) 0;

	font-size: rem($font-size-small);
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
}

.m-footer__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@include at($screen-lg) {
		justify-content: space-between;
	}
}

.m-footer__links {
	// reset list styling
	list-style: none;
	margin: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: $screen-sm;

	color: $link-color-primary;

	@include at($screen-lg) {
		flex-wrap: nowrap;
		justify-content: initial;
		max-width: initial;
	}

	li {
		margin-right: rem(16px);
		margin-bottom: rem(8px);

		&:last-child {
			margin-right: rem(16px);
		}
	}

	a {
		text-decoration: inherit;
		color: inherit;
	}
}

.m-footer__copyright {
	width: 100%;

	color: $text-color-secondary;
	text-align: center;

	@include at($screen-lg) {
		width: initial;
	}
}
