.m-pictures {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: rem(10px);

	max-width: $screen-lg;
	margin: 0 auto;
	padding: rem(40px) 0;

	@include at($screen-sm) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: rem(2px);
	}

	@include at($screen-md) {
		grid-gap: rem(20px);
	}
}

.m-pictures__item {
	position: relative;
	cursor: pointer;
}

.m-pictures__picture {
	width: 100%;
}

.m-pictures__overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: none;
	justify-content: center;
	align-items: center;

	background-color: $background-color-overlay;
}

.m-pictures__likes,
.m-pictures__comments {
	display: flex;
	align-items: center;

	margin: 0 rem(10px);

	font-weight: 600;
	color: $white;

	img {
		height: rem(20px);
		margin-right: rem(5px);
	}
}

// interactions
.m-pictures__item:hover .m-pictures__overlay {
	display: flex;
}
