// TODO
// - Create a grid 👀 of pictures
// - Each picture should have the same space available (equal columns)
// - Rows should be spaced automatically
// - The grid should have a max width of (960px) the size of a large screen ($screen-lg)
// - The grid should be centered horizontally in it's container
// - The grid should have a vertical padding of 40px
// ON SMALL SCREENS
// - Pictures should have a grap of 10px in between them
// ON MEDIUM SCREENS
// - Pictures should be in a grid of 3 equal columns
// - Pictures should have a gap of 2px in between them
// ON > MEDIUM SCREENS
// - The gap between pictures should be increased to 20px

// TODO
// Add an overlay to the pictures
// - The overlay covers the entire picture
// - The overlay should be hidden by default, and displays when hovering an item in the pictures grid
// - The item should show a pointer as a cursor when hovered
// - The overlay should contain 2 items, centered both horizontally and vertically:
//    - The amount of likes on the picture
//    - The amount of comments on the picture
//    - You don't have to style these 2 items, you get them as a present from us! 🎁🎉
.m-pictures__stats {
	display: flex;
	align-items: center;

	margin: 0 rem(10px);

	font-weight: 600;
	color: $white;

	img {
		height: rem(20px);
		margin-right: rem(5px);
	}
}
