$o-card-border-radius: 3px;

.o-card {
	max-width: rem(614px);
	margin-top: rem(30px);
	margin-bottom: rem(30px);
}

.o-card__header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 16px;
	background-color: $white;

	border: 1px solid $border-color;
	border-radius: $o-card-border-radius $o-card-border-radius 0 0;
	border-bottom: 0;

	.a-avatar {
		margin-right: rem(10px);
	}
}

.o-card__image {
	overflow: hidden;

	img {
		width: 100%;
		vertical-align: top;
	}
}

.o-card__content {
	background: $white;
	border: 1px solid $border-color;
	border-radius: 0 0 $o-card-border-radius $o-card-border-radius;
	border-top: 0;

	padding: 0 16px;
}

.o-card__actions {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-top: rem(5px);
	padding-bottom: rem(5px);
	margin-left: rem(-8px);

	img {
		height: 100%;
	}
}

.o-card__likes {
	font-size: 14px;
	font-weight: 600;
	color: $color-base;

	margin: 0 0 rem(4px);
}
